<div>
  <div>
    <h2> <%= @user.name %> </h2>
    <small> Photos : <%=@user.photos.size  %> Album : <%=@user.albums.size  %>  <small>
        <p>
          <%= link_to "followers/#{@user.name}", class: '' do %>
            Followers <%= @user.followers.size  %>
          <% end   %>
          <%= link_to "following/#{@user.name}", class: ''  do %>
            Following <%= @user.following.size  %>
          <% end   %>
        </p>
      </div>
      <div>
        <%= @albums.each do |album| %>
          <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> <%= album.title  %></h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>
