<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Social</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class:'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Photos', photos_path, class:'nav-link active' %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to 'Albums', albums_path, class:'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Followers', followers_path, class:'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'following', following_path, class:'nav-link active' %>
        </li>
      </ul>
      <%= link_to 'logout', logout_path, method: :delete, class: 'btn btn-outline-secondary me-2'  %>
    </div>
  </div>
</nav>
